{% extends 'base.html' %}

{% block body_block %}

    <div class="container">
    <h2>Pesan Selengkapnya : </h2>
    <hr/>
    <div class="row">
        <div class="col-sm-8">
            <h3>{{ pesan_detail.judul }}</h3>
            <p>{{ pesan_detail.waktu }}<p>
            <p>Akun : {{ pesan_detail.akun.user.username }}</p>
            <p>Role : {{ pesan_detail.akun.role }}</p>
            <p>Pesan : <br/>
                {{ pesan_detail.isi }}</p>
        </div>
    </div>
    </div>
{% endblock %}