{% extends 'base.html' %}

{% block body_block %}

    <div class="container">
    <h2>Foto Rumah Sakit</h2>
        <hr/>
        <p>Nama Rumah Sakit : {{ foto_rumah_sakit_detail.rumah_sakit.nama }}</p>
        <img src="{{ foto_rumah_sakit_detail.foto_rumah_sakit.url }}" alt="" class="img-thumbnail">
        <hr/>
        <p>
            <a class="btn btn-warning" href="{% url 'rumah_sakit:foto_rumah_sakit_update' pk=foto_rumah_sakit_detail.pk %}">Update</a>
            <a class="btn btn-danger" href="{% url 'rumah_sakit:foto_rumah_sakit_delete' pk=foto_rumah_sakit_detail.pk %}">Delete</a>
        </p>
    </div>
{% endblock %}