{% extends 'base.html' %}

{% block body_block %}
    <div class="container">
    <h2>List Spesialis</h2>
        {% if request.session.role == 'administrator' or request.session.role == 'rumah_sakit' %}
            <div class="navbar-right">
                <a href="{% url 'rumah_sakit:spesialis_create' %}">
                    <button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Spesialis</button>
                </a>
            </div>
        {% endif %}
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>Jenis Spesialis</th>
                <th>Deskripsi</th>
            </tr>
        </thead>
        <tbody>
            {% for foo in spesialiss %}
                <tr>
                    <td>
                        <a href="{% url 'rumah_sakit:spesialis_detail' pk=foo.pk %}">{{ foo.jenis_spesialis }}</a>
                    </td>
                    <td>
                        {{ foo.deskripsi }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
        <div class="text-center">
        {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number  }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
        </div>
    </div>
{% endblock %}
